# dev or prod
ENVIRONMENT=dev

# model could be gpt-4, gpt-3.5-turbo, gpt-4-vision-preview, etc.
MODEL=gpt-4
OPENAI_API_KEY=
# For generating a connection URI, see https://www.prisma.io/dataguide/postgresql/short-guides/connection-uris
PG_CONNECTION_STRING=

PGVECTOR_EMBED_DIM=256
PGVECTOR_SCHEMA=public
